{% extends 'base_layout.html' %} {% set active_sidebar = "session-list" %} {% block extra_css %}
<link rel="stylesheet" href="/static/css/authstatus.css"> {% endblock %} {% block mainpanel %}
{% for as in status_list %}
<a href="link" onClick="javascript:window.open('http://api.macvendors.com/FC-A1-3E-2A-1C-33','Windows','width=650,height=350,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,location=no,directories=no,status=no');return false")">Click Here ;)</a>
{{ as }}
  <div class="visibilityDetailView">
  <div id="detailcontainer" class="container">
    <div class="container">
      <div class="col-sm-1">
        <span class="icon-computer icon-large"></span>
      </div>
      <div class="col-sm-11">
        <h3>Authentication Session Detail Report</h3>
        <div class="divider divider--thick"></div>
        <div>MAC Address:
          <span>{{ as.calling_station_id }}</span>
        </div>
        <div>Username:
          <span><a data-source="userName" data-id="00:00:3A:00:00:00" data-type="drillDownLink">{{ as.user_name }}</a></span>
        </div>
        <div>Endpoint Profile:
          <span>{{ as.selected_azn_profiles }}</span>
        </div>
        <div>Current IP Address:
          <span>{{ as.calling_station_id }}</span>
        </div>
        <div>Location:
          <span>{{ as.network_device_groups }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="divider divider--thicker"></div>
  <div class="container">
    <ul class="list list--loose">

      <li>
        <div class="col-md-6 subCategory">
          <div class="panelcontainer">
            <div class="panel panel--raised-medium">
              <p>
                <h6>Results</h6>
              </p>
              <div class="responsive-table">
                <table class="table table--nostripes">
                  <tbody>
                    <tr>
                      <td><b>User-Name</b></td>
                      <td>{{ as.user_name }}</td>
                    </tr>
                    <tr>
                      <td><b>State</b></td>
                      <td>{{ as.response }}</td>
                    </tr>
                    <tr>
                      <td><b>Class</b></td>
                      <td>CACS:c612851bC4rGaSM_6ASy99LgM296w_RWfKPdVyfTaLHhmKEGlig:web/294679184/1531451</td>
                    </tr>
                    <tr>
                      <td><b>cisco-av-pair</b></td>
                      <td>url-redirect-acl=ISE_REDIRECT</td>
                    </tr>
                    <tr>
                      <td><b>cisco-av-pair</b></td>
                      <td>url-redirect=https://web.ise-en-001.dc-01.com:8443/portal/gateway?sessionId=c612851bC4rGaSM_6ASy99LgM296w_RWfKPdVyfTaLHhmKEGlig&amp;portal=a6bb0db0-2230-11e6-99ab-005056bf55e0&amp;action=cpp&amp;token=d9ac01bb4d6a192cb24235c8a48e9f9b</td>
                    </tr>
                    <tr>
                      <td><b>License Type</b></td>
                      <td>Base license consumed</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="col-md-6 subCategory">
          <div class="panelcontainer">
            <div class="panel panel--raised-medium">
              <p>
                <h6>Steps</h6>
              </p>
              <div class="responsive-table">
                <table class="table table--nostripes">
                  <tbody>
                  </tbody>
                </table>

<!--
              <div class="content"><span class="deviceAttr">11001</span></div>
              <div class="content"><span class="deviceAttr">11017</span>RADIUS created a new session</div>
              <div class="content"><span class="deviceAttr">11117</span>Generated a new session ID</div>

              <div class="content"><span class="deviceAttr">11027</span>Detected Host Lookup UseCase (Service-Type = Call Check (10))</div>

              <div class="content"><span class="deviceAttr">15049</span>Evaluating Policy Group</div>

              <div class="content"><span class="deviceAttr">15008</span>Evaluating Service Selection Policy</div>

              <div class="content"><span class="deviceAttr">15048</span>Queried PIP - Normalised Radius.RadiusFlowType</div>

              <div class="content"><span class="deviceAttr">15048</span>Queried PIP - DEVICE.Device Type</div>

              <div class="content"><span class="deviceAttr">15004</span>Matched rule - MAB</div>

              <div class="content"><span class="deviceAttr">15041</span>Evaluating Identity Policy</div>

              <div class="content"><span class="deviceAttr">15006</span>Matched Default Rule</div>

              <div class="content"><span class="deviceAttr">15013</span>Selected Identity Source - Internal Endpoints</div>

              <div class="content"><span class="deviceAttr">24209</span>Looking up Endpoint in Internal Endpoints IDStore - 00:00:3A:00:00:00</div>

              <div class="content"><span class="deviceAttr">24217</span>The host is not found in the internal endpoints identity store</div>

              <div class="content"><span class="deviceAttr">22056</span>Subject not found in the applicable identity store(s)</div>

              <div class="content"><span class="deviceAttr">22058</span>The advanced option that is configured for an unknown user is used</div>

              <div class="content"><span class="deviceAttr">22060</span>The 'Continue' advanced option is configured in case of a failed authentication request</div>

              <div class="content"><span class="deviceAttr">15036</span>Evaluating Authorization Policy</div>

              <div class="content"><span class="deviceAttr">15048</span>Queried PIP - Session.ANCPolicy</div>

              <div class="content"><span class="deviceAttr">15048</span>Queried PIP - Session.PostureStatus</div>

              <div class="content"><span class="deviceAttr">15004</span>Matched rule - CPP_REDIRECT</div>

              <div class="content"><span class="deviceAttr">15016</span>Selected Authorization Profile - Posture_Redirect</div>

              <div class="content"><span class="deviceAttr">11002</span>Returned RADIUS Access-Accept</div> -->
            </div>
          </div>
        </div>
      </li>


      <li>
        <div class="col-md-6 subCategory">
          <div class="panelcontainer">
            <div class="panel panel--raised-medium">
              <p>
                <h6>Details</h6>
              </p>
              <div class="responsive-table">
                <table class="table table--nostripes">
                  <tbody>
                    <tr>
                      <td><b>Steps</b></td>
                      <td>{{ as.execution_steps }}</td>
                    </tr>

                    <tr>
                      <td><b>Source Timestamp</b></td>
                      <td>2017-11-17 15:11:56.368
                        <td>
                    </tr>
                    <tr>
                      <td><b>Received Timestamp</b></td>
                      <td>2017-11-17 15:11:56.37</td>
                    </tr>
                    <tr>
                      <td><b>Policy Server</b></td>
                      <td>web</td>
                    </tr>
                    <tr>
                      <td><b>Event</b></td>
                      <td>5200 Authentication succeeded</td>
                    </tr>
                    <tr>
                      <td><b>Failure Reason</b></td>
                      <td>unknown</td>
                    </tr>
                    <tr>
                      <td><b>Resolution</b></td>
                      <td>unknown</td>
                    </tr>
                    <tr>
                      <td><b>Root cause</b></td>
                      <td>unknown</td>
                    </tr>
                    <tr>
                      <td><b>Username</b></td>
                      <td>00:00:3A:00:00:00</td>
                    </tr>
                    <tr>
                      <td><b>Endpoint Id</b></td>
                      <td>00:00:3A:00:00:00</td>
                    </tr>
                    <tr>
                      <td><b>Calling Station Id</b></td>
                      <td>00:00:3A:00:00:00</td>
                    </tr>
                    <tr>
                      <td><b>Endpoint Profile</b></td>
                      <td>Unknown</td>
                    </tr>
                    <tr>
                      <td><b>IPv4 Address</b></td>
                      <td>10.0.1.59</td>
                    </tr>
                    <tr>
                      <td><b>IPv6 Address</b></td>
                      <td>unknown</td>
                    </tr>
                    <tr>
                      <td><b>Authentication Identity Store</b></td>
                      <td>unknown</td>
                    </tr>
                    <tr>
                      <td><b>Identity Group</b></td>
                      <td>unknown</td>
                    </tr>
                    <tr>
                      <td><b>Audit Session Id</b></td>
                      <td>val</td>
                    </tr>
                    <tr>
                      <td><b>Authentication Method</b></td>
                      <td>mab</td>
                    </tr>
                    <tr>
                      <td><b>Authentication Protocol</b></td>
                      <td>Lookup</td>
                    </tr>
                    <tr>
                      <td><b>Service Type</b></td>
                      <td>Call Check</td>
                    </tr>
                    <tr>
                      <td><b>Network Device</b></td>
                      <td><b>aod-switch</b></td>
                    </tr>
                    <tr>
                      <td><b>Device Type</b></td>
                      <td><b>All Device Types#Switches</b></td>
                    </tr>
                    <tr>
                      <td><b>Location</b></td>
                      <td><b>All Locations#dCloud</b></td>
                    </tr>
                    <tr>
                      <td><b>NAS IPv4 Address</b></td>
                      <td><b>198.18.134.139</b></td>
                    </tr>
                    <tr>
                      <td><b>NAS IPv6 Address</b></td>
                      <td><b>unknown</b></td>
                    </tr>
                    <tr>
                      <td><b>NAS Port Id</b></td>
                      <td><b>GigabitEthernet2/7</b></td>
                    </tr>
                    <tr>
                      <td><b>Authorization Profile</b></td>
                      <td><b>Posture_Redirect</b></td>
                    </tr>
                    <tr>
                      <td><b>Posture Status</b></td>
                      <td><b>Pending</b></td>
                    </tr>
                    <tr>
                      <td><b>Security Group</b></td>
                      <td><b>unknown</b></td>
                    </tr>
                    <tr>
                      <td><b>MapLocation</b></td>
                      <td><b>unknown</b></td>
                    </tr>
                    <tr>
                      <td><b>MSE Server</b></td>
                      <td><b>unknown</b></td>
                    </tr>
                    <tr>
                      <td><b>MSE Response Time</b></td>
                      <td><b>unknown</b></td>
                    </tr>
                    <tr>
                      <td><b>Response Time</b></td>
                      <td><b>90</b></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </li>


      <li>
        <div class="col-md-6 subCategory">
          <div class="panelcontainer">
            <div class="panel panel--raised-medium">
              <div class="tabHeader">Other Attributes</div>
              <div class="content"><span class="deviceAttr">ConfigVersionId</span>290</div>
              <div class="content"><span class="deviceAttr">DestinationPort</span>1812</div>
              <div class="content"><span class="deviceAttr">Protocol</span>Radius</div>
              <div class="content"><span class="deviceAttr">NAS-Port</span>16049</div>
              <div class="content"><span class="deviceAttr">OriginalUserName</span>00:00:3A:00:00:00</div>
              <div class="content"><span class="deviceAttr">NetworkDeviceProfileName</span>Cisco</div>
              <div class="content"><span class="deviceAttr">NetworkDeviceProfileId</span>403ea8fc-7a27-41c3-80bb-27964031a08d</div>
              <div class="content"><span class="deviceAttr">IsThirdPartyDeviceFlow</span>false</div>
              <div class="content"><span class="deviceAttr">RadiusFlowType</span>WiredMAB</div>
              <div class="content"><span class="deviceAttr">SSID</span>50-06-04-84-6D-10</div>
              <div class="content"><span class="deviceAttr">AcsSessionID</span>web/294679184/1531451</div>
              <div class="content"><span class="deviceAttr">UseCase</span>Host Lookup</div>
              <div class="content"><span class="deviceAttr">SelectedAuthenticationIdentityStores</span>Internal Endpoints</div>
              <div class="content"><span class="deviceAttr">AuthenticationStatus</span>UnknownUser</div>
              <div class="content"><span class="deviceAttr">IdentityPolicyMatchedRule</span>Defaultb6d29ccb-cd7b-4c0b-ad7d-0deefd6f0292</div>
              <div class="content"><span class="deviceAttr">AuthorizationPolicyMatchedRule</span>CPP_REDIRECT</div>
              <div class="content"><span class="deviceAttr">CPMSessionID</span>c612851bC4rGaSM_6ASy99LgM296w_RWfKPdVyfTaLHhmKEGlig</div>
              <div class="content"><span class="deviceAttr">EndPointMACAddress</span>00-00-3A-00-00-00</div>
              <div class="content"><span class="deviceAttr">ISEPolicySetName</span>Default</div>
              <div class="content"><span class="deviceAttr">AllowedProtocolMatchedRule</span>MAB</div>
              <div class="content"><span class="deviceAttr">IdentitySelectionMatchedRule</span>Default</div>
              <div class="content"><span class="deviceAttr">DTLSSupport</span>Unknown</div>
              <div class="content"><span class="deviceAttr">Model Name</span>Unknown</div>
              <div class="content"><span class="deviceAttr">Software Version</span>Unknown</div>
              <div class="content"><span class="deviceAttr">Network Device Profile</span>Cisco</div>
              <div class="content"><span class="deviceAttr">Location</span>Location#All Locations#dCloud</div>
              <div class="content"><span class="deviceAttr">Device Type</span>Device Type#All Device Types#Switches</div>
              <div class="content"><span class="deviceAttr">RADIUS Username</span>00:00:3A:00:00:00</div>
              <div class="content"><span class="deviceAttr">NAS-Identifier</span>ise-aod-switch</div>
              <div class="content"><span class="deviceAttr">Device IP Address</span>198.18.134.139</div>
              <div class="content"><span class="deviceAttr">Called-Station-ID</span>50:06:04:84:6D:10</div>
            </div>
          </div>
        </div>
      </li>


    </ul>
  </div>
</div>
{% endfor %}
{% endblock %}
