{% extends 'base_layout.html' %} {% set active_sidebar = "session-list" %} {% block extra_css %}
<link rel="stylesheet" href="/static/css/authstatus.css"> {% endblock %} {% block mainpanel %}

<div class="visibilityDetailView">
  <div id="detailcontainer" class="container">

    <div style="padding-top: 20px" class="container">
      <div class="col-sm-1">
        <span class="icon-computer icon-large"></span>
      </div>
      <div class="col-sm-11">
        <div>MAC Address:
          <span>
            {{ session.calling_station_id }}
            <!-- <a href="link"
               onClick="javascript:window.open('http://api.macvendors.com/{{ session.calling_station_id }}',
               'Windows','width=650,height=350,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,
                location=no,directories=no,status=no');return false")">{{ session.calling_station_id }}</a> -->
          </span>
        </div>
        <div>Username:
          <span><a data-source="userName" data-id="00:00:3A:00:00:00" data-type="drillDownLink">{{ session.user_name }}</a></span>
        </div>
        <div>Endpoint Profile:
          <span>{{ session.selected_azn_profiles }}</span>
        </div>
        <div>Current IP Address:
          <span>{{ session.framed_ip_address }}</span>
        </div>
        <div>Location:
          <span>{{ session.location }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="divider divider--thicker"></div>
  <div class="container">
    {% include 'steps.html' %}
    <div class="col-md-12 subCategory">
      <div class="panelcontainer">
        <div class="panel panel--raised-medium">
          <p>
            <h6>Details</h6>
          </p>
          <div class="responsive-table">
            <table class="table table--nostripes table--fixed table--wrap">
              <tbody>
                {% for k,v in session.items() %}
                <tr>
                  <td><b>{{k}}</b></td>
                  <td>{{v}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% endblock %}
