{% extends 'base_layout.html' %} {% set active_sidebar = "session-list" %} {% block extra_css %}
<link rel="stylesheet" href="/static/css/authstatus.css"> {% endblock %} {% block mainpanel %}

<div class="timeline">
    <div class="timeline__list">

{% for as in status_list %}
  {% if as.passed['#text'] == 'true' %}
    {% set kls = 'timeline--success' %}
  {% elif as.failed['#text'] == 'true' %}
    {% set kls = 'timeline--danger' %}
  {% else %}
    {% set kls = 'timeline--warning' %}
  {% endif %}
  <div class="timeline__item">
      <div class="timeline__icon {{ kls }}"></div>
      <div class="timeline__time">{{ as.acsview_timestamp }}</div>
      <div class="timeline__content">
        <div class="responsive-table">
          <table class="table table--nostripes">
            <tbody>
              <tr>
                <td><b>IP Address</b></td>
                <td>{{ as.requested_attributes['Device IP Address']}}</td>
                <td><b>Endpoint Profile Name</b></td>
                <td>{{ as.requested_attributes['NetworkDeviceProfileName']}}</td>

              </tr>
              <tr>
                <td><b>Authentication Policy</b></td>
                <td>{{ as.authentication_method }}</td>
                <td><b>Authorization Policy</b></td>
                <td>{{ as.requested_attributes['AuthorizationPolicyMatchedRule']}}</td>

              </tr>
              <tr>
                <td><b>Username</b></td>
                <td>{{ as.requested_attributes['RADIUS Username']}}</td>
                <td><b>ISE Server Name</b></td>
                <td>{{ as.acs_server }}</td>
              </tr>
              <tr>
                <td><b>SSID</b></td>
                <td>{{ as.requested_attributes['SSID'] }}</td>
                <td><b>Called Station ID</b></td>
                <td>{{ as.requested_attributes['Called-Station-ID'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>


          <!-- <div class="text-bold">Details</div> -->
          <!-- <div>{{as}}</div>
          <div></div>
          <a>link</a> -->
      </div>
  </div>

{% endfor %}

</div>
{% endblock %}
