{% extends 'base_layout.html' %}
{% set active_sidebar = "session-list" %}

{% block mainpanel %}
<div class="container">
  <div style="padding-top: 20px" class="responsive-table">
    <div class="responsive-table">
      <table id="session-datatable" class="table table--bordered">
          <thead>
              <tr>
                  <th>Username</th>
                  <th>MAC Address</th>
                  <th>Framed IP Address</th>
                  <th>NAS IP Address</th>
                  <th>Server</th>
              </tr>
          </thead>
          <tbody>

          </tbody>
      </table>
    </div>
  </div>
</div>

<!-- table data will be populated dynamically by jquery/datatables -->
<script src="/static/js/session-table.js"></script>
{% endblock %}

<!-- disable footer for this page  -->
{% block footer %}{% endblock %}
