<div class="col-md-6 subCategory">
  <div class="panelcontainer">
    <div class="panel panel--raised-medium">
      <p>
        <h6>Steps</h6>
      </p>
      <div class="responsive-table">
        <table class="table table--nostripes">
          <tbody>
            {% for step in steps %}
            <tr>
              <td>{{ step[0] }}</td>
              <td>{{ step[1] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
